@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.app-dark, .app-dark *));

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(materialsymbols.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

@theme inline {
    --text-tiny: 0.625rem;
    --text-tiny--line-height: 1.5rem;
    --text-tiny--letter-spacing: 0.125rem;
    --text-tiny--font-weight: 500;
    --color-success-50: var(--color-emerald-50);
    --color-success-100: var(--color-emerald-100);
    --color-success-200: var(--color-emerald-200);
    --color-success-300: var(--color-emerald-300);
    --color-success-400: var(--color-emerald-400);
    --color-success-500: var(--color-emerald-500);
    --color-success-600: var(--color-emerald-600);
    --color-success-700: var(--color-emerald-700);
    --color-success-800: var(--color-emerald-800);
    --color-success-900: var(--color-emerald-900);
    --color-danger-50: var(--color-red-50);
    --color-danger-100: var(--color-red-100);
    --color-danger-200: var(--color-red-200);
    --color-danger-300: var(--color-red-300);
    --color-danger-400: var(--color-red-400);
    --color-danger-500: var(--color-red-500);
    --color-danger-600: var(--color-red-600);
    --color-danger-700: var(--color-red-700);
    --color-danger-800: var(--color-red-800);
    --color-danger-900: var(--color-red-900);
}

@layer utilities {
    .squish {
        @apply duration-75 ease-out hover:scale-95;
    }
    .it-table {
        @apply border-surface-300 dark:border-surface-700 bg-surface-0 dark:bg-surface-950 border-2;
    }
    .it-table tr:hover td {
        @apply bg-primary-50 dark:bg-primary-950 text-primary-700 dark:text-primary-300;
    }
    .it-table td {
        @apply border-surface-200 dark:border-surface-800 min-w-0 border p-2;
    }
    .it-table th {
        @apply border-surface-200 dark:border-surface-800 bg-surface-0 dark:bg-surface-950 border p-2;
    }
    .it-table > tbody tr:nth-child(odd) {
        @apply bg-surface-100 dark:bg-surface-900;
    }
    .it-table .col-resizing {
        @apply border-primary-500 border-r-2;
    }

    .text-dimmed {
        @apply text-surface-500 dark:text-surface-400;
    }

    .teal-spinner {
        --p-progressspinner-color-one: var(--color-primary-200);
        --p-progressspinner-color-two: var(--color-primary-500);
        --p-progressspinner-color-three: var(--color-primary-200);
        --p-progressspinner-color-four: var(--color-primary-500);
    }

    .bright-spinner {
        --p-progressspinner-color-one: var(--color-surface-0);
        --p-progressspinner-color-two: var(--color-surface-0);
        --p-progressspinner-color-three: var(--color-surface-0);
        --p-progressspinner-color-four: var(--color-surface-0);
    }

    .drag-region {
        -webkit-app-region: drag;
        -webkit-user-select: none;
    }
    .no-drag-region {
        -webkit-app-region: no-drag;
        -webkit-user-select: none;
    }
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
}

.material-symbols-outlined.symbols-bold {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
}

:root {
    --p-tooltip-background: var(--p-surface-900);
}

.p-splitterpanel {
    min-height: 0;
}

div img video {
    @apply select-none;
}

/* scrollbar */
* {
    @apply [&::-webkit-scrollbar-thumb]:bg-primary-500 [&::-webkit-scrollbar-track]:bg-surface-200 dark:[&::-webkit-scrollbar-track]:bg-surface-700 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:rounded-full;
}
